<div>
  <div class="naslovGlavnaKnjiga">
    <label>BILANS STANJA PREDUZEĆA NA DAN: </label><input type="date" #bsp><br>
    <div class="aktivaNaslov"><h3>AKTIVA</h3></div>
    <div class="pasivaNaslov"><h3>PASIVA</h3></div>
  </div>
  <div class="formaAktivaiPasiva">
  <form action="?" name="formaAktivaiPasiva" (submit)="sacuvajGlavnuKnjigu($event,bsp)"> 
  <div class="formaAktiva">
  <input type="text" placeholder="Upiši naziv" >
  <input type="number" value="0" #brA1 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
  <input type="text" placeholder="Upiši naziv" >
  <input type="number" value="0" #brA2 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
  <input type="text" placeholder="Upiši naziv" >
  <input type="number" value="0" #brA3 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
  <input type="text" placeholder="Upiši naziv" >
  <input type="number" value="0" #brA4 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
  <input type="text" placeholder="Upiši naziv" >
  <input type="number" value="0" #brA5 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
  <input type="text" placeholder="Upiši naziv" >
  <input type="number" value="0" #brA6 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
  <input type="text" placeholder="Upiši naziv" >
  <input type="number" value="0" #brA7 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
  <input type="text" placeholder="Upiši naziv" >
  <input type="number" value="0" #brA8 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
  <input type="text" placeholder="Upiši naziv">
  <input type="number" value="0" #brA9 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
  <input type="text" placeholder="Upiši naziv">
  <input type="number" value="0" #brA10 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
  </div>
  <div class="formaPasiva">
    <input type="text" placeholder="Upiši naziv" >
    <input type="number" value="0" #brP1 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
    <input type="text" placeholder="Upiši naziv" >
    <input type="number" value="0" #brP2 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
    <input type="text" placeholder="Upiši naziv" >
    <input type="number" value="0" #brP3 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
    <input type="text" placeholder="Upiši naziv" >
    <input type="number" value="0" #brP4 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
    <input type="text" placeholder="Upiši naziv" >
    <input type="number" value="0" #brP5 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
    <input type="text" placeholder="Upiši naziv">
    <input type="number" value="0" #brP6 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
    <input type="text" placeholder="Upiši naziv" >
    <input type="number" value="0" #brP7 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
    <input type="text" placeholder="Upiši naziv" >
    <input type="number" value="0" #brP8 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
    <input type="text" placeholder="Upiši naziv" >
    <input type="number" value="0" #brP9 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
    <input type="text" placeholder="Upiši naziv">
    <input type="number" value="0" #brP10 (input)="racunanjeAktiveiPasive(brA1, brA2, brA3, brA4, brA5, brA6, brA7, brA8, brA9, brA10, brP1, brP2, brP3, brP4, brP5, brP6, brP7, brP8, brP9, brP10)"><br>
  </div>
  <div class="rezultatAktivaTekst">Ukupna aktiva <span id="rezultatAktiva"></span></div>
  <div class="rezultatPasivaTekst">Ukupna pasiva <span id="rezultatPasiva"></span></div>
  <div class="dugmiciForma">
  <input type="reset" value="RESET" class="dugmeResetuj" (click)="resetForme(bsp)">
  <input type="submit" value="SACUVAJ" class="dugmeSacuvaj">
  </div>
  </form>
  </div>
  <br>
  <div class="sacuvaniBilansiStanja">
    <ul>
      <li *ngFor="let bilans of sacuvaniBilans">
       <p>{{bilans}}</p> <em (click)="izbrisiBilans($event)" id="{{bilans}}">izbrisi</em>
      </li>
    </ul>
  </div>
  </div>