<div class="nalogZaNabavku">
  <a routerLink="/nalogZaNabavku" target="_blank" title="Otvori nalog za nabavku">Nalog za Nabavku</a>
</div>
<div class="formaNabavka" (submit)="sacuvajDobavljaca($event)">
  <form action="?" method="POST" id="kontaktSaDobavljacima">
    <input type="email" id="emailDobavljaca" name="emailDobavljaca" placeholder="email dobavljača">
    <br>
    <input type="submit" value="Dodaj dobavljača">
</form>
</div><br>
<input type="text" class="inputPretrazi" placeholder="Pretrazi dobavljace ..." (keyup)="pretrazi(dobavljacInput)" #dobavljacInput>
<div class="ispisEmailNabavka">
  <ul id="nabavkaUl">
    <li *ngFor="let noviDobavljac of dobavljac ">
      <a href="mailto:{{noviDobavljac}}" title="Posalji mail">{{noviDobavljac}}</a>
      <em (click)="izbrisiDobavljaca($event)" id="{{noviDobavljac}}">izbrisi</em>
    </li>
  </ul>
</div>