<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
      <mat-toolbar></mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink='/Kalendar'>Kalendar</a>
        <a mat-list-item routerLink='/Rokovnik'>Rokovnik</a>
        <a mat-list-item routerLink='/Digitron'>Digitron</a>
        <a mat-list-item routerLink='/Glavna-knjiga'>Glavna knjiga</a>
        <a mat-list-item routerLink='/Nabavka'>Nabavka</a>
        <a mat-list-item routerLink='/Analitika-racuna'>Analitika racuna</a>
        <a mat-list-item routerLink='/Dokumenta'>Dokumenta</a>
        <a mat-list-item routerLink='/Knjizenje-robe'>Knjizenje robe</a>
        <a mat-list-item routerLink='/Kontakt'>Kontakt</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <a class="naslovLink" routerLink='/' title="reload"><span class="naslov">OSPbyUM</span></a>
        <app-registracija-prijava class="prijavaRegistracija"></app-registracija-prijava>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  