.divForma{
    width: 20%;
    position: relative;
    float: right;
    margin-right: 40%;
    margin-top: 1%;
}

form input,form textarea{
    width: 100%;
    border: solid 2px rgb(194, 24, 91);
}
form input[type="submit"],form input[type="reset"]{
    border-radius: 10px;
    border-left: none;
    border-right: none;
    background-color: rgb(48, 48, 48);
    color: white;
    border-top: solid rgb(194, 24, 91) 3px;
    border-bottom: solid rgb(194, 24, 91) 3px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 5%;
}
form input[type="submit"]:hover,form input[type="reset"]:hover{
    border-top: solid rgb(48, 48, 48);
    border-bottom: solid rgb(48, 48, 48);
    background-color: rgb(194, 24, 91); 
}
.inputPretrazi{
    position: relative;
    float: left;
    margin-left: 3%;
    margin-top: 1%;
}
.prikazSacuvanihProizvoda{
    position:relative;
    float: left;
    width: 20%;
    min-height: 400px;
    border: solid 2px rgb(194, 24, 91);
    overflow-y: scroll;
}
.prikazSacuvanihProizvoda li{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-top: -8%;
}
.prikazSacuvanihProizvoda em{
position: relative;
margin-right: 20%;
}
.dugmiciIzbirisiIzmeni{
    position: relative;
    right: 10%;
}
.prikazSacuvanihProizvoda p,.prikazSacuvanihProizvoda em{
    cursor: pointer;
}
.prikazSacuvanihProizvoda p:hover,.prikazSacuvanihProizvoda em:hover{
    color: rgb(194, 24, 91);

}
.prikazSacuvanogProizvoda{
    position: relative;
    width: 25%;
    margin-top: 30%;
    margin-left: 1%;
    text-align: justify;
}