.citatiDiv{
    width: 60%;
    color: white;
    position: absolute;
    bottom: 0;
    left: 20%;
    right: 20%;
}
#citatiIspisMesto{
    font-size: 42px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
   
}
.pregledKorisnika{
    background-color: rgb(66,66,66);
    border: solid 2px rgb(194, 24, 91);
    min-height: 150px;  
    width: 24%;
    text-align: center;
    margin: 1% auto;
}
.pregledKorisnika:hover{
    background-color: rgb(194, 24, 91);
    border-color: white;
    transform: scale(1.2)
}
 .pregledIPrecica{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}
.pregledIPrecicaDobavljavca,.pregledIPrecicaRacuna,.pregledIPrecicaRobe{
    background-color: rgb(66,66,66);
    border: solid 2px rgb(194, 24, 91);
    min-height: 150px;
    width: 24%;
    margin-left:7%;
    text-align: center;
}
.pregledIPrecicaDobavljavca:hover,.pregledIPrecicaRacuna:hover,.pregledIPrecicaRobe:hover{
    background-color: rgb(194, 24, 91);
    border-color: white;
    transform: scale(1.2)
} 
.pregledIPrecicaFakture{
    background-color: rgb(66,66,66);
    border: solid 2px rgb(194, 24, 91);
    min-height: 150px;  
    width: 24%;
    text-align: center;
    margin: 2% auto;
}
.pregledIPrecicaFakture:hover{
    background-color: rgb(194, 24, 91);
    border-color: white;
    transform: scale(1.2)
}

@media only screen and (max-width:640px){
    .citatiDiv{
        position: relative;
        font-size: 30px;
    }
    .pregledIPrecica{
        margin-left: 0;
        width: 100%;
    }
    .pregledIPrecicaDobavljavca,.pregledIPrecicaRacuna,.pregledIPrecicaRobe{
        width: 32%;
        margin-left: 1%;
    }
    .pregledIPrecicaFakture,.pregledKorisnika{
        width: 33%;
    }
}

