<div class="ukupnoKorisnika">
        <div class="pregledKorisnika" routerLink='/'>
            <h3>Korisnici</h3>
            <br>
            <h4><em> Trenutan broj korisnika: {{brojKorisnika}}</em></h4>
        </div>
</div>
<div class="pregledIPrecica">
    <div class="pregledIPrecicaDobavljavca" routerLink='/Nabavka'>
        <h3>Dobavljaci</h3>
        <br>
        <h4><em> Trenutan broj dobavljaca: {{brojDobavljacaInfoIspis}}</em></h4>
    </div>
    <div class="pregledIPrecicaRacuna" routerLink='/Analitika-racuna'>
        <h3>Racuni</h3>
        <br>
        <h4><em>Trenutan broj racuna:{{brojRacunaIzAnalitikeInfoIspis}}</em></h4>
    </div>
    <div class="pregledIPrecicaRobe" routerLink='/Knjizenje-robe'>
        <h3>Roba</h3>
        <br>
        <h4><em>Trenutan broj postojecih proizvoda:{{brojPostojecihProizvodaInfoIspis}}</em></h4>
    </div>
</div>
<div class="citatiDiv">
    <h3 id="citatiIspisMesto"></h3>
</div>