.rokovnikUl{
    width: 95%;
    min-height: 600px;
}
.rokovnikLi{
    border-top: solid 1px rgb(194, 24, 91);
    border-bottom: solid 1px rgb(194, 24, 91);
    border-radius: 5px;
    height: 30px;
    font-size: 25px;
    list-style: none;
}
.rokovnikLi em{
    position: relative;
    float: right;
    cursor: pointer;
    margin-right: 1%;
}
.rokovnikLi em:hover{
    color: rgb(194, 24, 91);
}
.rokovnikInput{
    width: 70%;
    font-size: 24px;
    border: solid rgb(194, 24, 91);
    margin-left: 2%;
}
.rokovnikDugmePostaviStavku{
    font-size: 24px;
    border-radius: 10px;
    border-left: none;
    border-right: none;
    background-color: rgb(48, 48, 48);
    color: white;
    border-top: solid rgb(194, 24, 91) 3px;
    border-bottom: solid rgb(194, 24, 91) 3px;
    margin-left: 1%;
    margin-top: 1%;
    cursor: pointer;
}
.rokovnikDugmePostaviStavku:hover{
    border-top: solid rgb(48, 48, 48);
    border-bottom: solid rgb(48, 48, 48);
    background-color: rgb(194, 24, 91);  
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
}
footer button{
    margin: 0 auto;
    display: block;
    font-size: 20px;
    margin-top: 1%;
    background-color: rgb(48, 48, 48);
    color: white;
    border-top: solid rgb(194, 24, 91) 3px;
    border-bottom: solid rgb(194, 24, 91) 3px;
    border-radius: 10px;
    border-left: none;
    border-right: none;
    cursor: pointer;
}
footer button:hover{
    border-top: solid rgb(48, 48, 48);
    border-bottom: solid rgb(48, 48, 48);
    background-color: rgb(194, 24, 91);
}